// Заголовки, загальні БЕМ блоки та інше...

/* ++++++++++++++++++++++++++++ */ // ? Анимация
// https://www.youtube.com/watch?v=kupwmF72Plo&t=7s
// time 13:29
// ._anim-show {
//    transform: translate(0px, 120%);
//    opacity: 0;
//    transition: all 0.8s ease 0s;
// }
// ._anim-show._active,
// ._active ._anim-show {
//    opacity: 1;
//    transform: translate(0px, 0px);
// }
/* ++++++++++++++++++++++++++++++++++++++++++ */

.title {
   margin-top: rem(18);
   font-weight: 600;
   font-size: rem(32);
   line-height: 131.25%; /* 42/32 */
   letter-spacing: rem(0.1);
   color: var(--bg-secondary);
   position: relative;
   &::before {
      content: "";
      position: absolute;
      top: rem(-15);
      left: 0;
      width: 100%;
      height: 100%;
      background: url("@img/title-vector.png") no-repeat;
      // background: url('@img/title-vector.svg') no-repeat;
   }
}

.btn {
   font-weight: 600;
   font-size: rem(14);
   line-height: 128.57%; /* 18/14 */
   letter-spacing: rem(0.2);
}

.block {
   // .block__content
   &__content {
   }
   // .block__more
   &__more {
      @media (min-width: $mobile) {
         // visibility: hidden;
      }
   }
}

[data-showmore-button] {
	span {
		&:last-child {
			display: none;
		}
		._showmore-active & {
			display: none;
			&:last-child {
				display: block;
			}
		}
	}
}


/* +++++++++++++++++++++ */
.pusto {
   padding: rem(50);
   background-color: #fbfed2;
   // .pusto__container
   &__container {
   }
   // .pusto__text
   &__text {
      font-weight: 600;
      font-size: rem(64);
      color: var(--bg-accent);
      text-align: center;
   }
}

.pusto {
   @include adaptiveValue("padding-top", 133, 60);
   @include adaptiveValue("padding-bottom", 94, 40); 
   background: url('@img/health/fon.jpg');  
   // .pusto__container
   &__container {
   }
   // .pusto__inner
   &__inner {
   }
   // .pusto__content
   &__content {
      font-weight: 300;
      font-size: rem(52);
      line-height: 123%; /* 64/52 */
      letter-spacing: rem(02);
      color: var(--bg-secondary);
      text-align: center;
      @include adaptiveValue("padding-bottom", 80, 30);
   }
   // .pusto__title
   &__title {
      color: inherit;
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }
   // .pusto__text
   &__text {
      font-weight: 500;
      font-size: rem(18);
      line-height: 133.33%; /* 24/18 */
      color: var(--bg-secondary);
   }
}
