//====================================================================================================
.page {
   // .page__reserve
   &__reserve {
   }   
   // .page__first
   &__first {
   }
   // .page__about
   &__about {
   }
   // .page__work
   &__work {
   }
   // .page__health
   &__health {
   }
   // .page__product
   &__product {
   }
   // .page__contact
   &__contact {
   }
}
//====================================================================================================
//====================================================================================================
//====================================================================================================
.first-page {
   position: relative;
   &__image-ibg {
      position: relative;
      height: rem(729); /* 729/1368 */
      // width: 100%;
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
      }
   }
   // .first-page__container
   &__container {
      position: relative;
   }
   // .first-page__content
   &__content {
      font-weight: 500;
      @include adaptiveValue("font-size", 18, 14);
      line-height: 133.33%; /* 24/18 */
      letter-spacing: rem(02);
      color: var(--bg-secondary);
      position: absolute;
      bottom: rem(295);
      left: rem(24);
      // max-width: rem(750);
   }
   // .first-page__subtitle
   &__subtitle {
      color: var(--bg-secondary);
      &:not(:last-child) {
         margin-bottom: rem(10);
      }
   }
   // .first-page__title
   &__title {
      @include adaptiveValue("font-size", 44, 36);
      line-height: 122.73%; /* 54/44 */
      color: var(--bg-secondary);
      span {
         color: var(--bg-accent);
      }
      &:not(:last-child) {
         margin-bottom: rem(18);
      }
   }
   // .first-page__text
   &__text {
      color: var(--bg-secondary);   }

}
//========================================================================================
//========================================================================================
.reserve-page {
   padding-top: rem(24);
   padding-bottom: rem(24);
   background-color: #E8E8E8;
   // .reserve-page__container
   &__container {
   }
   // .reserve-page__inner
   &__inner {
   }
   // .reserve-page__image
   &__image {
      text-align: center;
      width: 100%;
      transition: all 0.3s;
      img {
         max-width: 100%;
      }
      &:hover {
         transform: scale(1.03)
      }
      
   }
}

//========================================================================================
//========================================================================================================================================================
.about-page {
   @include adaptiveValue("padding-top", 40, 25);
   @include adaptiveValue("padding-bottom", 40, 25);
   // background-color: #e5e5e5;
   // .about-page__container
   &__container {
   }
   &__inner {
      max-width: rem(1115);
      margin: 0 auto;
      margin-left: rem(40);
      @include adaptiveValue("margin-left", 40, 0, 2, 1368, 768);
      @media (max-width: $mobile) {
         margin: 0 auto;
      }
   }
   // .about-page__title
   &__title {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 48, 25);
      }
   }
   // .about-page__row
   &__row {
      display: flex;
      @media (max-width: $mobile) {
         flex-direction: column-reverse;
      }
   }
   // .about-page__content
   &__content {
      position: relative;
      z-index: 2;
      flex: 0 1 45.11%;
      padding-left: rem(62);
      @include adaptiveValue("padding-left", 62, 30, 2, 1368, 768);
      padding-right: rem(0);
      @media (max-width: $mobile) {
         padding: 0;
         margin-bottom: rem(30);
      }
   }
   // .about-page__text
   &__text {
      font-weight: 500;
      font-size: rem(18);
      @include adaptiveValue("font-size", 18, 16, 2, 1368, 768);
      line-height: 133.33%; /* 24/18 */
      letter-spacing: rem(0.2);
      color: #333333;
      color: var(--text-primary);
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 24, 24);
      }
      p {
         &:not(:last-child) {
            margin-bottom: rem(12);
         }
      }
   }
   // .about-page__btn
   &__btn {
      font-weight: 500;
      font-size: rem(18);
      line-height: 133.333333%; /* 24/18 */
      color: var(--bg-secondary);
      text-transform: uppercase;
      letter-spacing: rem(0.2);
      margin-top: rem(24);
      // padding-bottom: rem(2);
      // border-bottom: 1px solid #d3a265;
      // transition: color 0.3s;
      // &:hover {
      //    color: #d3a265;
      // }
   }
   // .about-page__image
   &__image {
      flex: 0 1 54.89%;
      position: relative;
      z-index: 2;
      img {
         width: 100%;
      }
      @media (max-width: $tablet) {
         padding: 0;
      }
      &:hover {
         transform: scale(1.05)
      }      
   }
}

//========================================================================================================================================================
//========================================================================================
.work-page {
   @include adaptiveValue("padding-top", 63, 25);
   @include adaptiveValue("padding-bottom", 30, 25);
   // background-color: #e5e5e5;
   // .work-page__container
   &__container {
   }
   // .work-page__info
   &__info {
      display: flex;
      justify-content: center;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 55, 25);
      }
   }
   // .work-page__title
   &__title {
   }
   // .work-page__image

   // .work-page__video
	&__video {
		position: relative;
		overflow: hidden;
		// height: 0;
      max-width: rem(877);
      padding-bottom: 48.85%;
      margin: 0 auto;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
//========================================================================================
//====================================================================================================
//====================================================================================================
.health-page {
   @include adaptiveValue("padding-top", 133, 60);
   @include adaptiveValue("padding-bottom", 94, 40);
   background: url("@img/health/fon.jpg");
   // .pusto__container
   &__container {
   }
   // .pusto__inner
   &__inner {
      max-width: rem(1078);
      margin: 0 auto;
   }
   // .pusto__content
   &__content {
      font-weight: 300;
      @include adaptiveValue("font-size", 52, 30);
      line-height: 123%; /* 64/52 */
      letter-spacing: rem(02);
      color: var(--bg-secondary);
      text-align: center;
      @include adaptiveValue("padding-bottom", 80, 0);
   }
   // .pusto__title
   &__title {
      color: inherit;
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }
   // .pusto__text
   &__text {
      font-weight: 500;
      @include adaptiveValue("font-size", 18, 14);
      line-height: 133.33%; /* 24/18 */
      color: var(--bg-secondary);
   }
}

//========================================================================================
//========================================================================================
.product-page {
   @include adaptiveValue("padding-top", 40, 25);
   @include adaptiveValue("padding-bottom", 40, 25);
   // .product-page__container
   &__container {
   }
   // .product-page__inner
   &__inner {
      max-width: rem(1115);
      margin: 0 auto;
      margin-left: rem(40);
      @include adaptiveValue("margin-left", 40, 0, 2, 1368, 768);
      @media (max-width: $mobile) {
         margin: 0 auto;
      }
   }
   // .product-page__title
   &__title {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 48, 25);
      }
   }
   // .product-page__row
   &__row {
      display: flex;
      @media (max-width: $mobile) {
         flex-direction: column-reverse;
      }
   }
   // .product-page__content
   &__content {
      position: relative;
      z-index: 2;
      flex: 0 1 45.11%;
      padding-left: rem(62);
      @include adaptiveValue("padding-left", 62, 30, 2, 1368, 768);
      padding-right: rem(0);
      @media (max-width: $mobile) {
         padding: 0;
         margin-bottom: rem(30);
      }
   }
   // .product-page__text
   &__text {
      font-weight: 500;
      font-size: rem(18);
      @include adaptiveValue("font-size", 18, 16, 2, 1368, 768);
      line-height: 133.33%; /* 24/18 */
      letter-spacing: rem(0.2);
      color: #333333;
      color: var(--text-primary);
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 24, 24);
      }
      p {
         &:not(:last-child) {
            margin-bottom: rem(12);
         }
      }
   }
   // .product-page__btn
   &__btn {
      font-weight: 500;
      font-size: rem(18);
      line-height: 133.333333%; /* 24/18 */
      color: var(--bg-secondary);
      text-transform: uppercase;
      letter-spacing: rem(0.2);
      margin-top: rem(24);
      // padding-bottom: rem(2);
      // border-bottom: 1px solid #d3a265;
      // transition: color 0.3s;
      // &:hover {
      //    color: #d3a265;
      // }
   }
   // .product-page__image
   &__image {
      flex: 0 1 54.89%;
      position: relative;
      z-index: 2;
      img {
         width: 100%;
      }
      @media (max-width: $tablet) {
         padding: 0;
      }
      &:hover {
         transform: scale(1.05)
      }   
   }
}
//========================================================================================
//========================================================================================
.contact-page {
   padding-top: rem(233);
   @include adaptiveValue("padding-bottom", 344, 230);
   background: url('@img/contact/olives.svg') left 50% no-repeat, url('@img/contact/fon.jpg');
   @media (max-width:$mobileSmall){
      background:url('@img/contact/fon.jpg');
   }
   // .contact-page__container
   &__container {
   }
   // .contact-page__inner
   &__inner {
      max-width: rem(1078);
      margin: 0 auto;
   }
   // .contact-page__content
   &__content {      
      font-weight: 500;
      font-size: rem(18);
      line-height: 133.33%; /* 24/18 */
      letter-spacing: rem(02);
      color: var(--bg-secondary);
      text-align: center;
      margin-left: rem(250);
      @include adaptiveValue("margin-left", 250, 0);
   }
   // .contact-page__subtitle
   &__subtitle {
      color: var(--bg-secondary);
      &:not(:last-child) {
         margin-bottom: rem(8);
      }
   }
   // .contact-page__title
   &__title {
      @include adaptiveValue("font-size", 44, 36);
      line-height: 122.73%; /* 54/44 */
      color: var(--bg-secondary);
      span {
         color: var(--bg-accent);
      }
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 45, 25);
      }
   }
   // .contact-page__text
   &__text {
      @include adaptiveValue("font-size", 18, 16);
      color: var(--bg-secondary);
      &:not(:last-child) {
         margin-bottom: rem(31);
      }
   }
   // .contact-page__button
   &__button {
      display: inline-block;
      font-weight: 600;
      font-size: rem(14);
      line-height: 128.57%; /* 18/14 */
      letter-spacing: rem(0.2);
      text-transform: uppercase;
      padding: rem(20) rem(50);
      color: var(--bg-buttons);
      background-color: var(--bg-accent);
      // border: rem(2) solid $pageColor;
      border-radius: rem(5);
      transition: all 0.5s;
      &:hover {
         opacity: 0.8;
         color: #fff;
      }
   }
}
